body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-image: url("market.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Global */
.container{
  vertical-align: middle;
  width: 250px;
  margin:0 auto;
  padding: 2%;
  padding-left: 5%;
  margin-bottom: 10px;
  background-color:#344060;
  border: 1px solid #e8491d;
}

.container2 {
  float:right;
  width: 8%;
  margin:0 auto;
  padding: 30px;
  background-color: #344060;
  border: 1px solid #e8491d;
  margin-right:25%;
  margin-top: -200px;
}

.buttonx{
  background-image: url("yelp2.jpg");
  background-repeat: no-repeat;
  margin:0 auto;
  background-position: 0px 0px;
  vertical-align: middle;
  height: 36px;
  width: 80px;

}

.likeButton {
    float: center;
    background-color: #e8491d;
    margin:0 auto;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 30px;
    margin-top: 5px;
}

.dislikeButton {
    float: center;
    background-color: white;
    margin:0 auto;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 30px;
    margin-top: 5px;
}

.arrow-down{
  margin:0 auto;
  width: 0;
  height: 0;
  border-left:500px solid transparent;
  border-right:500px solid transparent;
  border-top: 100px solid #e8491d;
  padding-bottom: 20px;
}

ul{
  margin:0;
  padding:0;
}

header{
  text-align: center;
}

footer{
  position: relative;
  margin-top: -50px;
  height: 50px;
  clear: both;
  right: 0;
  bottom: 0;
  left: 0;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;

}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }
}
